apache-airflow-providers-postgres
apache-airflow-providers-http
apache-airflow-providers-mysql
pandas
requests_ntlm
SQLAlchemy
beautifulsoup4
workalendar
gspread
google-auth-oauthlib
python-gitlab
GitPython
psycopg2-binary
pymysql
requests
urllib3
tqdm